// .price {
//     position: absolute;
//     background-color: $white;
//     display: flex;
//     justify-content:center;
//     align-items:center;
//     padding: 20px;
//     height: 80px;
//     width: 80px;
//     border-radius: 50%;
//     border: 1px solid grey;
//     bottom: -10px;
//     right: 10px;
//     text-align: center;
// }
.price-text {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $rose;
}

.price-text-value {
  font-size: 22px;
  font-weight: bold;
}
