// // Specific CSS for your home-page

.proprio-containter {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top : 1px solid $light-grey;
  border-bottom : 1px solid $light-grey;
  .btn-propio {
    border-radius: 4px;
  }
}

.logos-containter {
  margin-bottom: 5rem;
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
    padding: 0 4rem;
    img {
      height:30px;
      filter: grayscale(1);
    }
  }
}

// .container-main {

// }

// .img-background {
//     height: 10%;
// }

// .container-form {

// }

// .footer {

// }





// // BANNER

// .banner {
//     background-size: cover;
//     background-position: center;
//     padding: 0px 0;
//   }

//   .banner h1 {
//     margin: 0;
//     color: black;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//     font-size: 32px;
//     font-weight: bold;
//   }

//   .banner p {
//     font-size: 32px;
//     color: black;
//     opacity: .7;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   }
