<div class="container-sm">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container-sm">
    <h1>Louez aujourd'hui <strong>votre poussette </strong> de <strong>demain</strong>!</h1>
    <p>Partez enfin l'esprit libre en déplacement.</p>
    <%= link_to "Nos poussettes", items_path, class: "btn btn-flat" %>
  </div>
</div>
</div>

