<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://zupimages.net/up/20/04/4co3.jpg);">
  <div class="home-form-container col-sm-8 col-xs-10 col-lg-4 offset-lg-2">
    <div class="form-block">
      <div class="w-100">
        <h1>Louez une poussette pour la ville ou la campagne !</h1>
        <form action="/items" method="get">
          <div class="booking-dates">
            <div class="form-group form-goup-booking">
              <label for="beginning_date">Début</label>
              <input name="start_date" type="date" class="form-control" id="beginning_date">
            </div>
            <div class="form-group form-goup-booking">
              <label for="end_date">Fin</label>
              <input name="end_date" type="date" class="form-control" id="end_date">
            </div>
          </div>

          <div class="form-group">
            <label for="address_input">Où voulez-vous la récupérer ?</label>
            <input type="text" class="form-control algolia-places" id="item_address">
          </div>

          <div class="form-group">
            <label for="category_selection">De quel type de poussette avez-vous besoin ?</label>
            <select name="category" class="form-control" id="category_selection">
              <option>2 places</option>
              <option>3 places</option>
              <option>3 roues</option>
              <option>Bagage cabine</option>
              <option>Canne</option>
            </select>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-reservation">Réserver</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>

