
<header>


</header>

<body>

<div class="banner" style="background-image: image_tag("bebe_poussette.png");">
  <div class="container">
      <div class ="container-form>
        <form role="form">
         <p>Louez une poussette et plus encore pour bébé sur roulebibi</p>
            <div class="form-group">
                <label for="address">Adresse</label>
                <input type="address" class="form-control" id="email">
            </div>    
            <div class="form-group">
                <label for="pwd">Début</label>
                <input type="date" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Fin</label>
                <input type="date" class="form-control" id="pwd">
            </div>
            <div class="form-group">
            <label for="exampleFormControlSelect1">Type de poussette</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Type 1</option>
                <option>Type  2</option>
                <option>Type 3</option>
                <option>Type 4</option>
                <option>Type 5</option>
            </select>
            <button type="submit" class="btn btn-default">Je trouve ma poussette</button>
        </form> 
    </div>
</div>

</body>


