<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.baby-lux.com/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/p/o/poussette-six-seater-childwheels-enfants.jpg);">
  <div class="container">
      <div class ="container-form">
        <form role="form">
         <p>Louez une poussette et plus encore pour bébé sur roulebibi</p>
            <div class="form-group">
                <label for="text">Adresse</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Début</label>
                <input type="date" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Fin</label>
                <input type="date" class="form-control" id="pwd">
            </div>
            <div class="form-group">
            <label for="exampleFormControlSelect1">Type de poussette</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Type 1</option>
                <option>Type  2</option>
                <option>Type 3</option>
                <option>Type 4</option>
                <option>Type 5</option>
            </select>
            <button type="submit" class="btn btn-default">Je trouve ma poussette</button>
        </form>
    </div>
</div>
