
<header>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= image_tag "logo_roulebibi_tall_png.png" %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Se connecter</a>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</header>

<body>

    <div class="container-main">
        <%# <%= image_tag "bebe_poussette.png"%>
       
        <div class ="container-form>
 <form role="form">
 <p>Louez une poussette et plus encore pour bébé sur roulebibi</p>
  <div class="form-group">
    <label for="text">Adresse</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Début</label>
    <input type="date" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Fin</label>
    <input type="date" class="form-control" id="pwd">
  </div>
   <div class="form-group">
    <label for="exampleFormControlSelect1">Type de poussette</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Type 1</option>
      <option>Type  2</option>
      <option>Type 3</option>
      <option>Type 4</option>
      <option>Type 5</option>
    </select>


  <button type="submit" class="btn btn-default">Je trouve ma poussette</button>
</form>
 

        </div>

    </div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Roulebibi a été développé avec <i class="fas fa-heart"></i> at Paris
</div>


</div>


</body>


