.card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin: 0;
  flex-grow: 1;
  .card {
    margin:0;
    h2 {font-size:20px; font-weight:700}
  }
}
.card-title {height:80px;}

.card-text {
  font-family: Lato;
}

.price {
    position: absolute;
    background-color: $white;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid grey;
    top: 180px;
    right: 10px;
    text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-deck {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-deck {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-deck {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-deck {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-deck {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
